version: "3"

services:
  dashboard:
    image: openwisp/openwisp-dashboard:latest
    build:
      context: build
      dockerfile: openwisp_dashboard/Dockerfile
      args:
        DASHBOARD_APP_PORT: $DASHBOARD_APP_PORT
    deploy:
      replicas: 1
    environment:
      - DB_ENGINE=$DB_GIS_ENGINE
    env_file:
      - .env
    volumes:
      - openwisp_static:/opt/openwisp/static
      - openwisp_media:/opt/openwisp/media
      - public_html:/opt/openwisp/public_html
    depends_on:
      - postgres
      - redis
      - postfix

  controller:
    image:  openwisp/openwisp-controller:latest
    build:
      context: build
      dockerfile: openwisp_controller/Dockerfile
      args:
        CONTROLLER_APP_PORT: $CONTROLLER_APP_PORT
    deploy:
      replicas: 1
    env_file:
      - .env
    environment:
      - DB_ENGINE=$DB_GIS_ENGINE
    volumes:
      - openwisp_media:/opt/openwisp/media
      - public_html:/opt/openwisp/public_html
    depends_on:
      - postgres
      - redis
      - dashboard

  radius:
    image: openwisp/openwisp-radius:latest
    build:
      context: build
      dockerfile: openwisp_radius/Dockerfile
      args:
        RADIUS_APP_PORT: $RADIUS_APP_PORT
    deploy:
      replicas: 1
    env_file:
      - .env
    depends_on:
      - postgres
      - dashboard

  topology:
    image: openwisp/openwisp-topology:latest
    build:
      context: build
      dockerfile: openwisp_topology/Dockerfile
      args:
        TOPOLOGY_APP_PORT: $TOPOLOGY_APP_PORT
    deploy:
      replicas: 1
    env_file:
      - .env
    depends_on:
      - postgres
      - dashboard

  websocket:
    command: /opt/openwisp/worker.conf
    image: openwisp/openwisp-websocket:latest
    deploy:
      replicas: 1
    environment:
      - DB_ENGINE=$DB_GIS_ENGINE
    env_file:
      - .env
    depends_on:
      - daphne

  daphne:
    command: /opt/openwisp/daphne.conf
    image: openwisp/openwisp-websocket:latest
    build:
      context: build
      dockerfile: openwisp_websocket/Dockerfile
      args:
        WEBSOCKET_APP_PORT: $WEBSOCKET_APP_PORT
    deploy:
      replicas: 1
    environment:
      - MODULE_NAME=daphne
      - DB_ENGINE=$DB_GIS_ENGINE
    env_file:
      - .env
    depends_on:
      - redis
      - postgres
      - dashboard

  nginx:
    image: openwisp/openwisp-nginx:latest
    build:
      context: build
      dockerfile: openwisp_nginx/Dockerfile
    deploy:
      replicas: 1
    env_file:
      - .env
    volumes:
      - openwisp_static:/opt/openwisp/static:ro
      - openwisp_media:/opt/openwisp/media:ro
      - openwisp_certs:/etc/letsencrypt
      - public_html:/opt/openwisp/public_html
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - dashboard
      - controller
      - radius
      - topology

  postfix:
    image: openwisp/openwisp-postfix:latest
    build:
      context: build
      dockerfile: openwisp_postfix/Dockerfile
    deploy:
      replicas: 1
    env_file:
      - .env
    volumes:
      - openwisp_certs:/etc/ssl/mail

  postgres:
    image: mdillon/postgis:10-alpine
    deploy:
      replicas: 1
    environment:
      - POSTGRES_DB=$DB_NAME
      - POSTGRES_USER=$DB_USER
      - POSTGRES_PASSWORD=$DB_PASS
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    deploy:
      replicas: 1

volumes:
  postgres_data: {}
  openwisp_certs: {}
  openwisp_media: {}
  openwisp_static: {}
  public_html: {}
