---

name: Merge Tests

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    name: CI Build
    runs-on: ubuntu-20.04
    steps:
    - name: Git Checkout
      uses: actions/checkout@v2
      with:
        ref: ${{ github.event.pull_request.head.sha }}

    - name: Install Linting Requirements
      run:  sudo pip install openwisp_utils[qa]

    - name: Lint
      run: openwisp-qa-check --skip-checkmigrations

    - name: Setup for Testing Images
      run: |
        sudo apt update
        sudo apt install --yes google-chrome-stable
        wget https://chromedriver.storage.googleapis.com/91.0.4472.101/chromedriver_linux64.zip
        sudo unzip chromedriver_linux64.zip -d /usr/local/bin/
        sudo chmod +x /usr/local/bin/chromedriver
        sudo pip install selenium
        echo "127.0.0.1 dashboard.openwisp.org api.openwisp.org radius.openwisp.org" | sudo tee -a /etc/hosts

    - name: Build Images
      run: make compose-build nfs-build

    - name: Test
      run: make runtests || (docker-compose logs && exit 1)
